PRACTISE_WEB_URL=https://rahulshettyacademy.com/loginpagePractise/
PRACTISE_UNAME=rahulshettyacademy
PRACTISE_PWD=Learning@830$3mK2

DEMOAPP_URL=https://rahulshettyacademy.com/client
DEMOAPP_USERNAME=piperbryce51@gmail.com
DEMOAPP_PWD=Mander7436

UNIQUEAPP_URL=https://rahulshettyacademy.com/angularpractice/
UNIQUEAPP_USERNAME=
UNIQUEAPP_PWD=
