set NODE_EXTRA_CA_CERTS=C:\Users\GNDUNGU\Desktop\cert.pem

echo %NODE_EXTRA_CA_CERTS%

npx playwright test --headed
npx playwright test --ui

{
      name: 'Google Chrome (system)',
      use: {
        ...devices['Desktop Chrome'],
        channel: 'chrome',   // tells Playwright to use the Chrome you already use for browsing
        headless: false,     // optional, set true if you want headless
      },
    },
    {
      name: 'Microsoft Edge (system)',
      use: {
        ...devices['Desktop Edge'],
        channel: 'msedge',   // uses your installed Edge
      },
    },